.vs
.vscode
build
buildx
.build*
.DS_Store
bin
[Bb]uild
*.VC.db
*.VC.opendb
*.user
tmp
ibf
.ccls-cache
*.o

doom/lnx_doom

bf/hackablebf/hackablebf
bf/hackablebf/hackablebf-test

lnx_doom
ibf
hackablebf
