.venv
.vs
.vscode
build
buildx
.build*
.DS_Store
bin
[Bb]uild
*.VC.db
*.VC.opendb
*.user
tmp
ibf
.ccls-cache
*.o

doom/lnx_doom
doom/fake_bfk_doom
doom/doom_wad.h

frontend/frnt

lnx_doom
fake_bfk_doom
bfk_doom.elf
ibf
ibf_nojit
bf-tcc
frnt
pipe
doom.bpk
doom.bpk.addr
.idea
doom.b
doom.bpk
doom.bpk.addr

lightning-2.2.3.tar.gz
lightning-2.2.3
